body {
	font-family: times,arial, helvetica,sans-serif;
	font-size: 24px;
	line-height:1.4em;
	background-color:#DCC8B0;
	margin:0;
	padding:0;
}

/*Comienza Aplication/Layouts*/
.ul rig{
	float: right;
}

/*Home*/

div.principal{
	margin: 10% 0px 0px 5%;
	padding: 0px 0px 0px 12%;
	}
div.texto{
	margin-right: 25%;
	float: right;
	text-align: justify;
	border-left: 1px solid #B6B6B6;
	padding-left: 40px;
	}
b{ 	font-size: 14px	}
p{ 	text-align: justify;	}
h1{ 	font-size: 48px; }

div#content1{
	margin-top: 3%;
	padding-left: 16.5%;
}

div.icono{
	background-image:url(libros.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	width: 200px;
	height: 200px;
}

/*Book - show*/

div.arriba,div.abajo,div.centro{
	background-repeat: no-repeat;
	background-position: center top;
	font-size: 130%;
	text-align:center;
	border: 0px solid black;
}
div.arriba{
	background-image:url(arriba.jpg);
	padding-top: 120px;
	margin-left: 22px;
	margin-bottom: 0%;
	padding-bottom: 0%;
}
div.centro{
	background-image:url(Body.jpg);
	background-repeat: repeat-y;
	height: 1120px;
	margin-top: -10px;
	padding-bottom: 20px;
	padding-top: 20px;
	margin-left: 37px;

}
div.abajo{
	background-image:url(abajo.jpg);
	background-position:center bottom;
	height: 120px;
	margin-top: -48px;
}

p.centro{
	text-align:center;
}

/*User - show*/

div.user{
	font-size: 120%;
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
